.overflow{
    overflow: hidden;
}
.calendarSwitchWrap{
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column-reverse;
    background-color: rgba(0, 0, 0, 0.5);
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;

}
.calendarSwitchContent{
    background-color: #fff;
    width: 100%;
}
.calendarSwitchContent .header{
    height: 1rem;
    line-height: 1rem;
    background-color: #f7f7f9;
    text-align: center;
    color: #333;
    font-size: .32rem;
    position: relative;
}
.calendarSwitchContent .header .close{
    font-size: .28rem;
    position: absolute;
    right: .2rem;
}
.calendarSwitchContent .dateTable{
    width: 100%;
    border: none;
    border-collapse: collapse;
}
.calendarSwitchContent .dateTable td{
    border: none;
    width: 14.285%;
    height: .9rem;
    line-height: .9rem;
    text-align: center;
    color: #333;
}
.calendarSwitchContent .content{
    height: 6.6rem;
    overflow-y: auto;
    -webkit-overflow-scrolling: touch;
    position: relative;
}
.calendarSwitchContent .content .ymonth{
    height: .54rem;
    line-height: .54rem;
    padding-left: .3rem;
    font-size: .28rem;
    color: #666;
    background-color: #f9f9f9;
}
.calendarSwitchContent .content .days{
    display: flex;
    flex-wrap: wrap;
}
.calendarSwitchContent .content .days li{
    display: block;
    height: 1rem;
    width: 14.285%;
    line-height: 1rem;
    text-align: center;
    color: #333;
    margin-bottom: 0.1rem;
    transition: all 0.3s linear;
}
.calendarSwitchContent .content .days li .tooltip{
    background: rgba(0,0,0,0.6);
    bottom: 93%;
    border-radius: 4px;
    color: #fff;
    display: block;
    left: -50%;
    margin-bottom: 15px;
    opacity: 0;
    padding: 0.2rem;
    font-size: 0.24rem;
    pointer-events: none;
    position: absolute;
    width: 200%;
    -webkit-transform: translateY(10px);
    -moz-transform: translateY(10px);
    -ms-transform: translateY(10px);
    -o-transform: translateY(10px);
    transform: translateY(10px);
    -webkit-transition: all .25s ease-out;
    -moz-transition: all .25s ease-out;
    -ms-transition: all .25s ease-out;
    -o-transition: all .25s ease-out;
    transition: all .25s ease-out;
    -webkit-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -moz-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -ms-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    -o-box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
    box-shadow: 2px 2px 6px rgba(0, 0, 0, 0.28);
}
.calendarSwitchContent .content .days li .tooltip:before {
    bottom: -20px;
    content: " ";
    display: block;
    height: 20px;
    left: 0;
    position: absolute;
    width: 100%;
}
.calendarSwitchContent .content .days li .tooltip:after {
    border-left: solid transparent .1rem;
    border-right: solid transparent .1rem;
    border-top: solid rgba(0,0,0,0.5) .1rem;
    bottom: -.1rem;
    content: " ";
    height: 0;
    left: 50%;
    position: absolute;
    width: 0;
    transform: translateX(-50%);
}
.calendarSwitchContent .content .days li .show {
    opacity: 1;
    pointer-events: auto;
    -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
        transform: translateY(0px);
}
.calendarSwitchContent .content .days li span{
    display: block;
}
.calendarSwitchContent .content .days li.week{
    color: #666;
}
.calendarSwitchContent .content .days li.disabled{
    color: #ccc;
}
.calendarSwitchContent .content .days li.sectioned{
    color: #000;
    background-color: #e5fafa;
}
.calendarSwitchContent .content .days li.selected{
    color: #000;
    background-color: #00cbcb;
    line-height: 1;
    padding-top: 0.2rem;
    position: relative;
}
.calendarSwitchContent .content .days li.selected span{
    display: inline;
}
.calendarSwitchContent .content .days li.selected em{
    font-size: .24rem;
    font-style: normal;
    display: block;
    text-align: center;
    margin-top: 0.1rem;
}
/* show effect */
.calendarshowinBottom-enter-active, .calendarshowinBottom-leave-active{
	opacity: 1;
	-webkit-transform: translateY(0);
  	transform: translateY(0);
  	-webkit-transition: transform 0.5s ease;
  	-webkit-transition: -webkit-transform 0.5s ease;
  	transition: -webkit-transform 0.5s ease;
  	transition: transform 0.5s ease;
  	transition: transform 0.5s ease, -webkit-transform 0.5s ease;
}
.calendarshowinBottom-enter, .calendarshowinBottom-leave-active{
  	opacity: 0;
  	-webkit-transform: translateY(100%);
  	transform: translateY(100%);
}
.calendarfade-enter-active, .calendarfade-leave-active{
	opacity: 1;
  	transition: opacity 0.3s ease;
  	transition: opacity 0.3s ease, -webkit-transform 0.3s ease;
}
.calendarfade-enter, .calendarfade-leave-active{
  	opacity: 0;
}